---
layout: default
---

<p>
  Hi 👋
</p>

<p>
  Welcome to my place. My name is Kuba and I'm software developer. 
  You can find here some notes and lots of coding stuff. Feel free to use it as you want 🤷‍♂️
</p>

<p>
  I shoud point some of my best articles/posts/work now so here we go. Special for you my dear reader... THE DONUT. 
</p>

<br/>
<img src="./resources/donut.gif" alt="this donut moves" width="300" style="margin-left: auto; margin-right: auto; display: block;" />

<p align="center">
  <a  href="https://github.com/JakubSzwajka/donut">Repo here</a>
</p>

<br/>
<br/>
<p>
  And the rest of stuff. Almost as good as donut 😜.
</p>
<br/>

{% for post in paginator.posts %}
  <article class="post">
    <p >{{ post.date | date: "%-d %B %Y" }} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p>
    <!-- <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    <div class="entry">{{ post.excerpt }}</div>
    <p class="post-date">{{ post.date | date: "%-d %B %Y" }}</p>
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
  </article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="previous"> Previous </a>
  {% else %}
  <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
  <span class="next">Next</span>
  {% endif %}
</div>


<!-- <h3 style="width: 100%; text-align: center;">Hi there! I've moved blog posts to github pages. Check it out <a href="https://jakub-szwajka.gitbook.io/blog-posts">here</a></h3>
</br> 

<h4 style="width: 100%; text-align: center;">If you want to see my cv check it <a href="/Jakub Szwajka - CV.pdf">here</a> ( outdate alert! )</h4>
<h4 style="width: 100%; text-align: center;">Checking <a href="https://jakub-szwajka.gitbook.io/about-1/">this page</a> is better idea then my pdf above 👨‍💻</h4>

</br>  -->

<div style="text-align: center;">
  {% include subscribe_email.html %} 
</div>